<nav>
    <div class="site-tile">
        <a href="/"><h1>Blog Andrew</h1></a>
        <p>Created by Andrew</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>