<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, sed necessitatibus. Dolores soluta impedit dolorum placeat quos veritatis, vero velit. Eius rem culpa eaque fugiat saepe, dolorum nihil impedit porro sit laudantium? Itaque cum maiores a deleniti non perferendis doloremque?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, sed necessitatibus. Dolores soluta impedit dolorum placeat quos veritatis, vero velit. Eius rem culpa eaque fugiat saepe, dolorum nihil impedit porro sit laudantium? Itaque cum maiores a deleniti non perferendis doloremque?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, sed necessitatibus. Dolores soluta impedit dolorum placeat quos veritatis, vero velit. Eius rem culpa eaque fugiat saepe, dolorum nihil impedit porro sit laudantium? Itaque cum maiores a deleniti non perferendis doloremque?</p>
    </div>
</body>
<%- include('./partials/footer.ejs') %> 
</html>